/*Define color scheme variables---------------------------------------------------------------------*/
:root {
    --primary-color: #373A44; 
    --secondary-color: #FCC112; 
    --accent1-color: #596075; 
    --accent2-color: #ffd700; 
    --text-color: #000000;
    --background-color: #ffffff;
}
/* General styles */
body {
    font-family: 'Open Sans',open-sans;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
/*Header Style---------------------------------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 120px 1fr 2fr;
    background-color: var(--primary-color);
    padding: 1px; 
}
.grid-content {
    width: 73%;
    margin-left: 5px;
    height: 70%;
    padding: 2px;
    display:contents;
    justify-content: space-between;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 20px;
}
.grid-content img{
    width: 300px;
    height: 200px;
}
header img {
   
    margin: 0 0.25rem 0 1rem;
	width: 80px;
	height: auto;
}

nav a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
h1,h2{
    color: var(--accent2-color);
}
nav a:hover {
    color: var(--accent2-color);
}
/*HERO STYLING---------------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("images/Surfboards.avif")
      no-repeat center center/cover;
  }

.hero-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
}
.hero-content h1 {
    font-weight: 700;
   
}
.hero-content p {
    color: #fff;
    
}
/* Sections */
section {
    padding: 2rem;
    text-align: center;
}
/*History Section---------------------------------------------------------------------*/

.container {
    display: flex;
    align-items: center;
    justify-content: center
}
.history-img img {
    width: 30px;
    height: 20px;
}
.history-text {
    padding-left: 0px; 
}
/*Adventure awaits for you- Section---------------------------------------------------------------------*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    justify-content: space-between;
}
  /* Clear floats after image containers */
.row {
    display: flex;
    justify-content: space-between;
}
.column {
    flex: 33.33%;
    padding: 10px;
    
}
.column img{
    width: 300px;
    height: 200px;
}
 /*Footer- Section---------------------------------------------------------------------*/
footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text {
    flex-grow: 1;
}
  
.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 13px; /* Space between icons */
}
  
.social-icons img {
    width: 30px; 
    height: 30px; 
}



/*Contact Form*/

/* Google Map */
#map iframe {
    width: 100%;
    height: 450px;
    border: none;
}

/* Employee Profile */
#employees {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.employee img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.employee p {
    text-align: center;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label, legend {
    margin: 10px 0 5px;
}

input, textarea, button {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
}

button {
    background-color: #0284c7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #02699b;
}

  
